#mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, .8);
    background-color: #dedfd9;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s
}

#mainNav .navbar-brand:focus,

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #212529
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#212529' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
    background-color: transparent
}

  @media (min-width:992px) {
    #mainNav {
        border-color: transparent;
        background-color: transparent
    }
    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: #fff
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link {
        padding: .5rem 1rem
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: rgba(255, 255, 255, .9)
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #fff
    }
    #mainNav.navbar-shrink {
        border-bottom: 1px solid rgba(33, 37, 41, .1);
        background-color: #dedfd9
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #f05f40
    }
    #mainNav.navbar-shrink .navbar-brand:focus,
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #f05f40
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
        color: #212529
    }
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
        color: #f05f40
    }
}
  